div:focus { outline: 0px solid transparent; }
html { font-family: "Roboto", sans-serif; }

body {
   color: #333;
   font-weight: 100;
   max-width: 50em;
   margin: 0 auto;
   padding: 1.3rem 1.3rem 1.3rem 1.3rem; }

#heading {
   font-size: 48px;
   padding-top: 10px; }

#content {
   padding-top: 16px;
   font-size: 24px; }

.dpholder:empty:not(:focus):before {
   content: attr(data-placeholder) }

.bg-gradient span,
.bg-gradient:before {
   background: #39C2C9;
   background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%); }

.wrapper {
   margin: 4% auto;
   text-align: center; }

.noselect { user-select: none; }

.fancy-button {
   display: inline-block;
   margin: 20px;
   font-family: 'Heebo', Helvetica, Arial, sans-serif;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.07em;
   text-transform: uppercase;
   line-height: 24px;
   color: #ffffff;
   position: relative; }

.fancy-button.bg-gradient {
   text-shadow: 0px 0px 1px #227270; }

.fancy-button:before {
   content: '';
   display: inline-block;
   height: 40px;
   position: absolute;
   bottom: -1px;
   left: 10px;
   right: 10px;
   z-index: -1;
   border-radius: 2em;
   -webkit-filter: blur(14px) brightness(0.9);
   filter: blur(14px) brightness(0.9);
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   transition: all 0.3s ease-out; }

.fancy-button i {
   margin-top: -2px;
   font-size: 1.265em;
   vertical-align: middle; }

.fancy-button span {
   display: inline-block;
   padding: 16px 20px;
   border-radius: 50em;
   position: relative;
   z-index: 2;
   will-change: transform, filter;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   transition: all 0.3s ease-out; }

.fancy-button:focus { color: #ffffff; }
.fancy-button:hover { color: #ffffff; }

.fancy-button:hover span {
   -webkit-filter: brightness(0.9) contrast(1.2);
   filter: brightness(0.9) contrast(1.2);
   -webkit-transform: scale(0.96);
   transform: scale(0.96); }

.fancy-button:hover:before {
   bottom: 3px;
   -webkit-filter: blur(6px) brightness(0.8);
   filter: blur(6px) brightness(0.8); }

.fancy-button:active span {
   -webkit-filter: brightness(0.75) contrast(1.7);
   filter: brightness(0.75) contrast(1.7); }

.fancy-button.pop-onhover span { border-radius: 4px; }
.fancy-button.pop-onhover:before { opacity: 0; bottom: 10px; }

.fancy-button.pop-onhover:hover:before {
   bottom: -7px;
   opacity: 1;
   -webkit-filter: blur(16px);
   filter: blur(16px); }

.fancy-button.pop-onhover:hover span {
   -webkit-transform: scale(1);
   transform: scale(1); }

.fancy-button.pop-onhover:hover:active span {
   -webkit-filter: brightness(1) contrast(1);
   filter: brightness(1) contrast(1);
   -webkit-transform: scale(1);
   transform: scale(1);
   transition: all 0.2s ease-out; }

.fancy-button.pop-onhover:hover:active:before {
   bottom: 0;
   -webkit-filter: blur(5px) brightness(0.85);
   filter: blur(5px) brightness(0.85);
   transition: all 0.2s ease-out; }